[Desktop Entry]
Version=0.1
Encoding=UTF-8
Name=Jokosher
GenericName=Jokosher audio editing
Comment=Multi-track non-linear audio editing
Exec=Jokosher/Jokosher
Icon=images/jokosher-icon.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;
