#
#	THIS FILE IS PART OF THE JOKOSHER PROJECT AND LICENSED UNDER THE GPL. SEE
#	THE 'COPYING' FILE FOR DETAILS
#	
#	This manifest file is a template, used by Distutils to include necessary
#	additional files when generating the MANIFEST file, from which distribution
#	tarballs are built via: python setup.py sdist
#
#-------------------------------------------------------------------------------
include AUTHORS COPYING COPYING-DOCS bin/jokosher.desktop bin/jokosher.xml
recursive-include Jokosher *.png Jokosher
recursive-include images *.png
recursive-include Instruments *.instr *.png
recursive-include locale */LC_MESSAGES/jokosher.mo
recursive-include help *.omf *.xml *.png
recursive-include extensions *.py *.egg
recursive-include gtk-builder-ui *.ui
prune locale/src
prune extensions/eggs
